<div class="sixteen columns">
  <h3>Blocipedia: Social, Markdown Wikis</h3>

  <div class="box-container">
    <p id="para">Create and share Markdown Wikis</p></br> 
      
      <%= link_to "Sign Up", new_user_registration_path, class: 'button' %>
  </div>
</div>


<div class="eight columns" id="public">
  <p>Create as many public wikis as you want!</p>
  <img src="http://www.pictureofhealthinc.com/Purple_Outline_Box.gif" />
  <p>Free Plan</p>
</div>

<div class="eight columns" id="private">
  <p>Create private wikis!</p>
  <img src="http://www.pictureofhealthinc.com/Purple_Outline_Box.gif" />
  <p>Premium Plan</p>
</div>

