<div class="box-container">
  <h1>Blocipedia</h1>
  <h3>Social, Markdown Wikis</h3>

    <div class="column-left">
      <p>Public Wikis</p>
      <%= link_to "Free Plan", new_user_registration_path, class: 'button' %>
    </div>

    <div class="column-right">
      <p>Private Wikis</p>
      <%= link_to "Premium Plan", new_charge_path, class: 'button' %>
    </div>
</div>

