<h1><%= @wiki.name %></h1>

<% if can? :update, @wiki %>
  <%= link_to "Edit Wiki", edit_wiki_path, class: 'button' %>
<% end %>

<div class="row">
  <div class="span8">
    <p><%= markdown @wiki.description %></p>
    
  </div>
  
</div>

<div class="row">
  <%= render "collaborations/form", wiki: @wiki, collaboration: @collaboration %>
</div>